In [1]:
import torch
import torch.nn as nn
import pandas as pd

In [2]:
tokens = ["the", "bank", "approved", "the", "loan"]
seq_len = len(tokens)
embedding_dim = 8

In [3]:
embeddings = torch.rand(1, seq_len, embedding_dim)

In [4]:
mask = torch.triu(torch.ones(seq_len, seq_len), diagonal=1)
mask = mask.masked_fill(mask == 1, float('-inf'))

In [5]:
mha = nn.MultiheadAttention(
    embed_dim=embedding_dim,
    num_heads=2,
    batch_first=True
)

In [6]:
output, attn_weights = mha(
    embeddings,
    embeddings,
    embeddings,
    attn_mask=mask
)

In [7]:
attention_df = pd.DataFrame(
    attn_weights[0].detach().numpy(),
    index=tokens,
    columns=tokens
)

attention_df

               the      bank  approved       the      loan
the       1.000000  0.000000  0.000000  0.000000  0.000000
bank      0.503335  0.496665  0.000000  0.000000  0.000000
approved  0.340411  0.318919  0.340670  0.000000  0.000000
the       0.252154  0.242021  0.256759  0.249066  0.000000
loan      0.209250  0.201000  0.198478  0.202833  0.188438

Masked attention ensures that a decoder can only attend to past tokens, preventing it from seeing future words during text generation.